<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
>



<!------ Include the above in your HEAD tag ---------->

<script>
    var stateObject = {
      "TN": {
        "Memphis": ["38016", "38017", "38105"]  
      },
      "MS": {
        "Olive Branch": ["38654", "35888", "38777"]
      }
    }
    window.onload = function() {
      var stateSel = document.getElementById("state");
      var citySel = document.getElementById("city");
      var zipSel = document.getElementById("zip");
      for (var x in stateObject) {
        stateSel.options[stateSel.options.length] = new Option(x, x);
      }
      stateSel.onchange = function() {
        //empty Chapters- and Topics- dropdowns
        citySel.length = 1;
        zipSel.length = 1;
        //display correct values
        for (var y in stateObject[this.value]) {
          citySel.options[citySel.options.length] = new Option(y, y);
        }
      }
      citySel.onchange = function() {
        //empty Chapters dropdown
        zipSel.length = 1;
        //display correct values
        var z = stateObject[stateSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
          zipSel.options[zipSel.options.length] = new Option(z[i], z[i]);
        }
      }
    }
    </script>

<style type="text/css">
    body { background: gray !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>

<div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/nonprofit-org-signup" method="post" accept-charset="utf-8" class="form" data-toggle="validator" role="form">   <legend>Non-profit Org Sign Up</legend>
                <div class="form-group">
                    <input type="orgname" name="orgname" value="" class="form-control input-lg" placeholder="Organization Name" maxlength="30"  required  /> 
                    <div class="help-block with-errors"></div>
                </div>
                
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="contactfirstname" value="" class="form-control input-lg" maxlength="30"  pattern="[A-Za-z]*" placeholder="Contact First Name" required />                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="contactlastname" value="" class="form-control input-lg" maxlength="30"  pattern="[A-Za-z]*" placeholder="Contact Last Name" re/>                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" value="" class="form-control input-lg" maxlength="100" placeholder="Your Email"  />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" value="" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$@!%?&]).{6,12}$" maxlength="15" class="form-control input-lg" placeholder="Password" required  />  
                        <div class="help-block with-errors"></div>
                       
                    </div>    
                    <div class="form-group">
                        <input type="password" name="confirm_password" value="" class="form-control input-lg" maxlength="15" data-match="#password" data-match-error="Whoops, Password does not match" placeholder="Confirm Password" required />                   
                        <div class="help-block with-errors"></div>
                    </div>    
                    <input type="address1" name="address1" value="" maxlength="100" class="form-control input-lg" placeholder="Address" required />
                    <input type="address2" name="address2" value="" maxlength="100" class="form-control input-lg" placeholder="Apartment, studio, or floor"  /> 
 
                     <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <label for="city">City</label>
                            <select name="city" class = "form-control input-lg" placeholder="City" id="city" 
                                option value="" selected="selected">Please select State first</option> </select>                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label for="state">State</label>
                            <select name="state" class = "form-control input-lg" id="state"
                                option value="TN" selected="selected">Select state</option>
                            </select>                       
                         </div>
                        <div class="col-xs-4 col-md-4">
                            <label for="zip">Zip</label>
                            <select name="zip" class = "form-control input-lg" id="zip"
                                option value="" selected="selected">Select subject</option>
                            </select>           
         
                        </div>
                    </div>
                   
                    <br />
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Create my account</button>
                        <div class="col">
                            <!-- Simple link -->
                            <a href="/nonprofit-org-login">Already have an account?Login</a>
                          </div>
            </form>          
          </div>
</div>            
</div>
</div>

