<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/volunteer-login" method="post" accept-charset="utf-8" class="form" role="form">  
               <legend>Volunteer Login</legend>
                    <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" required  />
                    <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password"  required/>
              
                                     <div class="row">
                    <br />
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Login</button>
                        <div class="col">
                            <!-- Simple link -->
                            <a href="/volunteer-signup">Don't have an account?Sign Up</a>
                          </div>
            </form>          
          </div>
</div>            
</div>
</div>

<script>
  // Disable form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Get the forms we want to add validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
